/* header, #intro { */
    /* display: flex;
    flex-direction: row; 
    justify-content: space-around;
     */
/* } */


content {
    display: flex;
    justify-content: space-evenly;
} 

#bottom {
    display: flex;
    justify-content: space-evenly;
}







