header, #intro {
    display: flex;
    justify-content: space-around;
}


content  {
    display: flex;
}


#list {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: space-evenly;
}